# Core
Django==4.2.16
python-decouple==3.8

# Database
mysqlclient==2.2.7
dj-database-url==2.1.0  # Para manejar la URL de la base de datos en producción

# Media files
Pillow==10.4.0

# Forms
crispy-bootstrap5==0.7
django-crispy-forms==2.1

# Production
whitenoise==6.6.0
gunicorn==21.2.0
psycopg2-binary==2.9.9  # For PostgreSQL, optional if using MySQL

# Development (optional, for local development)
python-dotenv==1.0.0
django-debug-toolbar==4.2.0

# Security
dj-database-url==2.1.0
django-cors-headers==4.3.1

# ASGI server (if using async features)
uvicorn==0.24.0
